@import "abstract/_mixins.scss";
@import "abstract/_variables.scss";

*{
  border: 1px solid red;
  @include font;
  a{
    text-decoration: none;
    color: black;
    &:hover{
      cursor: pointer;
    }
  }
}

.content-wrapper{
  display: flex;
  justify-content: center;
  width: 100%;
  .content{
    max-width: 1020px;
    width: 70%;
    margin-bottom: 250px;
  }
}

.intro-paragraph{
  margin-bottom: 50px;
  h1{
    text-align: center;
    margin-bottom: 50px;
  }
  a{
    color: $epicodus;
  }
}

.intro-video{
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 50px;
}

.buttons{
  display: flex;
  justify-content: center;
  height: 30px;
  #start{
    background-color: green;
    border: 1px solid transparent;
    border-radius: 10px;
    margin-right: 30px;
  }
  #epicodus{
    background-color: $epicodus;
    border: 1px solid transparent;
    border-radius: 10px;
  }
}

footer{
  display: flex;
  justify-content: center;
  width: 100%;
  img{
    width: 70px;
  }
}
